// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            options "caps:swapescape"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
        // accel-profile "flat"
    }

    mouse {}

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="0%"
    mod-key "Alt"
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

// https://yalter.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    scale 1
    hot-corners {
        off
    }
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 2
    center-focused-column "never"
    // default-column-display "tabbed"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // preset-window-heights {}

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
    }

    border {
        off
        width 2
    }

    shadow {
        on
        draw-behind-window true
        softness 25
        spread 5
        offset x=2 y=2
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

// TODO
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // off
}

// https://yalter.github.io/niri/Configuration:-Window-Rules
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="^firefox$"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="yazi"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "./binds.kdl"
